<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="21.5.0" targetFramework="net452" />
  <package id="Aspose.Words" version="21.5.0" targetFramework="net452" />
  <package id="ILMerge" version="3.0.29" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net461" />
</packages>